.someColor{
        color: #708090;
    }
    .lobsterFont{
        font-size:32px;
        font-family: Lobster !important;
    }
    .alfaFont{
        font-family: 'Alfa Slab One', cursive;
    }
    .image{
        
        background-image: url("http://res.cloudinary.com/dvqkpuujq/image/upload/v1486669460/teslaImgs/main.jpg");
        background-repeat: no-repeat;
        height: 600px;        
        left: 100px;
    }
    .textPos{
        right: 150px;
    }
    .header{
        color: #404040;
    }
    .header:hover{
        font-size: 50px;
        cursor: pointer;        
    }
    .btn:focus,.btn:active {
        outline: none !important;
    }
    button:hover{
        font-weight: bold;  
    }

